<div class="card border-primary mb-3">
  <div class="card-header">Producto</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de producto</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Crear Producto
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>productoNombre</th>
          <th>productoDescripcion</th>
          <th>productoCantidad</th>
          <th>productoUbicacion</th>
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.productoNombre }}</td>
          <td>{{ cliente.productoDescripcion }}</td>
          <td>{{ cliente.productoCantidad }}</td>
          <td>{{ cliente.productoUbicacion }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
